body {
    background-color: #292929;
    color: #303f9f;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    text-align: center;
    padding: 0px;
}

.info {
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    background-color: #ffa000;
    margin: auto;
    margin-top: 50px;
    border: 5px solid grey;
    padding: 10px;
}

.image {
    max-width: 70%;
    max-height: 70%;
}

h2 {
    color: #094c90;
    font-family: sans-serif;
}


.form-group file {
    color: #d0d0d0;
}

.alert input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
}


.btn {
    border: none;
    background: #333;
    padding: 10px 15px;
    color: #fff;
    margin: 5px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.message {
    color: red;
}

td {
    text-align: left;
}

tr > td {
    padding-bottom: 5px;
}

