<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1"/>
    <link href="css/styles.css" rel="stylesheet"/>
    <title>Crop image</title>
</head>
<body>
<div class="body">
    <h2>ImageCrop App</h2>
    <p th:text="${msg}"></p>
    <img th:if="${croppedfile}" th:src="@{'data:image/jpeg;base64,' + ${croppedfile}}"/>
    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" accept="image/jpeg" name="file" class="form-control-file">
        </div>
        <div class="submit">
            <input type="submit" name="submit" value="Upload"/>
        </div>
        <fieldset class="params">
            <legend>Set cropped size parameters</legend>
            <div>
                <input type="checkbox" id="grayscale" name="grayscale" checked>
                <label for="grayscale">Grayscale</label>
            </div>
            <div>
                <input type="number" id="cut_left" name="cut_left" min="0" max="100" value="10">
                <label for="cut_left">Cut from left side (%)</label>
            </div>
            <div>
                <input type="number" id="cut_bottom" name="cut_bottom" min="0" max="100" value="10">
                <label for="cut_bottom">Cut from bottom (%)</label>
            </div>
            <div>
                <input type="number" id="cut_right" name="cut_right" max="100" min="0" value="10">
                <label for="cut_right">Cut from right side (%)</label>
            </div>
            <div>
                <input type="number" id="cut_above" name="cut_above" max="100" min="0" value="10">
                <label for="cut_above">Cut from above (%)</label>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>